In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('shakespeare_poems.csv')

In [4]:
df.head()

      title                                               text
0  Sonnet 1  From fairest creatures we desire increase,\  T...
1  Sonnet 2  When forty winters shall besiege thy brow,\  A...
2  Sonnet 3  Look in thy glass and tell the face thou viewe...
3  Sonnet 4  Unthrifty loveliness why dost thou spend,\  Up...
4  Sonnet 5  Those hours that with gentle work did frame\  ...

In [68]:
red = len(df[df["text"].str.contains("red", case=False)])

In [69]:
blue = len(df[df["text"].str.contains("blue|turquoise", case=False)])

In [70]:
green = len(df[df["text"].str.contains("green|teal", case=False)])

In [71]:
yellow = len(df[df["text"].str.contains("yellow", case=False)])

In [72]:
orange = len(df[df["text"].str.contains("orange", case=False)])

In [73]:
purple = len(df[df["text"].str.contains("purple|lilac", case=False)])

In [74]:
pink = len(df[df["text"].str.contains("pink", case=False)])

In [75]:
gold = len(df[df["text"].str.contains("gold|golden", case=False)])

In [76]:
silver = len(df[df["text"].str.contains("silver", case=False)])

In [77]:
black = len(df[df["text"].str.contains("black", case=False)])

In [78]:
brown = len(df[df["text"].str.contains("brown", case=False)])

In [79]:
grey = len(df[df["text"].str.contains("grey|gray", case=False)])

In [80]:
white = len(df[df["text"].str.contains("white", case=False)])

In [25]:
df_counts = pd.DataFrame(columns = ['color', 'count'])

In [26]:
df_counts['color'] = ['red', 'blue', 'yellow', 'green', 'black', 'brown', 'grey', 'pink', 'purple', 'orange', 'white', 'gold', 'silver']

In [81]:
df_counts['count'] = [red, blue, yellow, green, black, brown, grey, pink, purple, orange, white, gold, silver]

In [85]:
counts_sorted = df_counts.sort_values('count', ascending=False)

In [86]:
counts_sorted.to_csv('shakespeare-color-counts.csv', index=False)